body{
	background: url("/ldl/images/frame.jpg") center fixed no-repeat;
    background-size: 100% 100%;
	}
	
.container{ 
	background:rgba(0,0,0,0.6); 
	color:white;
	padding:30px;
	font-size: 16px; 
	} 
	
.container h1{
	font-size:30px;
	text-align:center;
	margin-top:0;
	margin-bottom:20px;
	text-decoration: underline;
	padding-bottom:20px;
	}

.container .btn{
	font-size:20px;
	background-color:#3594d8;
}
.container .form-control {
	margin-left: 5px;
	font-size: 19px;
}
